{% extends "main/base.html"%}
{% load static %}




{% block css %}<link rel="stylesheet" href="{%static 'deps/css/my_footer_css.css'%}">{%endblock%}



{% block content %}
    <div class="my-5 pt-5 px-2 pb-2 bg-success custom-shadow rounded">
        <h2 class="m-2 text-white"><strong>{{title}}</strong></h2>
        <p class="m-2 text-white" style="font-size: 1.2rem;">{{about}}</p>
    </div>
{% endblock %}


{% block footer %}
    <footer class="py-4 bg-success bg-opacity-75">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Gods Boss Product 2025</p>
        </div>
    </footer>
{% endblock %}




