{% extends 'main/base.html'%}
{% load static %}




{% block css %}<link rel="stylesheet" href="{%static 'deps/css/my_footer_css.css' %} ">{% endblock %}


{% block content %}
<div class="container">
            <div class="row mt-1">
                <div class="col-lg-2">
                    <!-- Пустой блок на усмотрение -->
                </div>
                <div class="col-lg-10">
                    <!-- Контент на странице -->
                    <div class="row">
                        <!-- Форма фильтров -->
                        <div class="dropdown mb-2">
                            <button class="btn btn-secondary dropdown-toggle btn-dark" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Фильтры
                            </button>
                    
                            <form action="" method="get" class="dropdown-menu bg-dark" data-bs-theme="dark">
                                <div class="form-check text-white mx-3">
                                    <input class="form-check-input" type="checkbox" name="on_sale" id="flexCheckDefault" value="on">
                                    <input type="hidden" name="q" value="request.GET.q">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Товары по акции
                                    </label>
                                </div>
                                <p class="text-white mx-3 mt-3">Сортировать:</p>
                                <div class="form-check text-white mx-3">
                                    <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault1" value="default" checked>
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        По умолчанию
                                    </label>
                                </div>
                                <div class="form-check text-white mx-3">
                                    <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault2" value="price">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        От дешевых к дорогим
                                    </label>
                                </div>
                                <div class="form-check text-white mx-3">
                                    <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault3" value="-price">
                                    <label class="form-check-label" for="flexRadioDefault3">
                                        От дорогих к дешевым
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-primary mx-3 mt-3">Применить</button>
                            </form>
                        </div>
                        <!-- Карта товара -->
                        <div class="col-lg-4 col-md-6 p-4">
                            <div class="card border-primary rounded custom-shadow">
                                <img src="{%static '/deps/images/goods/far_cry_3.jpg'%}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <a href="{% url 'products:product'%}">
                                        <p class="card-title">Far cry 3</p>
                                    </a>
                                    <p class="card-text text-truncate">Игра на острове.</p>
                                    <p class="product_id">id: 02165</p>
                                    <div class="d-flex justify-content-between">
                                        <p><s>1299.00</s> руб.</p>
                                        <p><strong>1099.00 руб.</strong></p>
                                        <span class="badge bg-warning text-dark">Скидка 10.00 %</span>
                                        <!-- <p><strong>100.00 $</strong></p> -->
                                        <a href="#" class="btn add-to-cart">
                                            <img class="mx-1" src="{% static '/deps/icons/cart-plus.svg'%}" alt="Catalog Icon"
                                                width="32" height="32">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Карта товара -->
                        <div class="col-lg-4 col-md-6 p-4">
                            <div class="card border-primary rounded custom-shadow">
                                <img src="{%static '/deps/images/goods/diablo3.jpg'%}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <a href="#">
                                        <p class="card-title">Diablo 3</p>
                                    </a>
                                    <p class="card-text text-truncate">Нужно победить владык преисподней</p>
                                    <p class="product_id">id: 02263</p>
                                    <div class="d-flex justify-content-between">
                                        <p><s>999.00</s> руб.</p>
                                        <p><strong>899.00 руб.</strong></p>
                                        <span class="badge bg-warning text-dark">Скидка 10.00 %</span>
                                        <!-- <p><strong>100.00 $</strong></p> -->
                                        <a href="#" class="btn add-to-cart">
                                            <img class="mx-1" src="{% static '/deps/icons/cart-plus.svg'%}" alt="Catalog Icon"
                                                width="32" height="32">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Карта товара -->
                        <div class="col-lg-4 col-md-6 p-4">
                            <div class="card border-primary rounded custom-shadow">
                                <img src="{% static '/deps/images/goods/fahrenheit.jpg'%}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <a href="#">
                                        <p class="card-title">Fahrenheit</p>
                                    </a>
                                    <p class="card-text text-truncate">Становится холодно на земле. Давай разбираться</p>
                                    <p class="product_id">id: 02665</p>
                                    <div class="d-flex justify-content-between">
                                        <p><s>499</s> руб.</p>
                                        <p><strong>399.00 руб.</strong></p>
                                        <span class="badge bg-warning text-dark">Скидка 10.00 %</span>
                                        <!-- <p><strong>100.00 $</strong></p> -->
                                        <a href="#" class="btn">
                                            <img class="mx-1" src="{% static '/deps/icons/cart-plus.svg'%}" alt="Catalog Icon"
                                                width="32" height="32">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Карта товара -->
                        <div class="col-lg-4 col-md-6 p-4">
                            <div class="card border-primary rounded custom-shadow">
                                <img src="{% static '/deps/images/goods/fallout.jpg'%}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <a href="#">
                                        <p class="card-title">Fallout New Vegas</p>
                                    </a>
                                    <p class="card-text text-truncate">Казино на осколках мира.</p>
                                    <p class="product_id">id: 06265</p>
                                    <div class="d-flex justify-content-between">
                                        <p><s>499</s> руб.</p>
                                        <p><strong>399.00 руб.</strong></p>
                                        <span class="badge bg-warning text-dark">Скидка 10.00 %</span>
                                        <!-- <p><strong>100.00 $</strong></p> -->
                                        <a href="#" class="btn">
                                            <img class="mx-1" src="{% static '/deps/icons/cart-plus.svg'%}" alt="Catalog Icon"
                                                width="32" height="32">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Карта товара -->
                        <div class="col-lg-4 col-md-6 p-4">
                            <div class="card border-primary rounded custom-shadow">
                                <img src="{% static '/deps/images/goods/gow.jpg'%}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <a href="#">
                                        <p class="card-title">God of war</p>
                                    </a>
                                    <p class="card-text text-truncate">Чем занимается убийца богов в Скандинавии</p>
                                    <p class="product_id">id: 02245</p>
                                    <div class="d-flex justify-content-between">
                                        <p><s>1499</s> руб.</p>
                                        <p><strong>1299.00 руб.</strong></p>
                                        <span class="badge bg-warning text-dark">Скидка 10.00 %</span>
                                        <!-- <p><strong>100.00 $</strong></p> -->
                                        <a href="#" class="btn">
                                            <img class="mx-1" src="{% static '/deps/icons/cart-plus.svg'%}" alt="Catalog Icon"
                                                width="32" height="32">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Карта товара -->
                        <div class="col-lg-4 col-md-6 p-4">
                            <div class="card border-primary rounded custom-shadow">
                                <img src="{% static '/deps/images/goods/gow.jpg'}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <a href="#">
                                        <p class="card-title">God of war</p>
                                    </a>
                                    <p class="card-text text-truncate">Чем занимается убийца богов в Скандинавии</p>
                                    <p class="product_id">id: 02245</p>
                                    <div class="d-flex justify-content-between">
                                        <p><s>1499</s> руб.</p>
                                        <p><strong>1299.00 руб.</strong></p>
                                        <span class="badge bg-warning text-dark">Скидка 10.00 %</span>
                                        <!-- <p><strong>100.00 $</strong></p> -->
                                        <a href="#" class="btn">
                                            <img class="mx-1" src="{% static '/deps/icons/cart-plus.svg'}" alt="Catalog Icon"
                                                width="32" height="32">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Карта товара -->
                        <div class="col-lg-4 col-md-6 p-4">
                            <div class="card border-primary rounded custom-shadow">
                                <img src="{% static '/deps/images/goods/gow.jpg'}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <a href="#">
                                        <p class="card-title">God of war</p>
                                    </a>
                                    <p class="card-text text-truncate">Чем занимается убийца богов в Скандинавии</p>
                                    <p class="product_id">id: 02245</p>
                                    <div class="d-flex justify-content-between">
                                        <p><s>1499</s> руб.</p>
                                        <p><strong>1299.00 руб.</strong></p>
                                        <span class="badge bg-warning text-dark">Скидка 10.00 %</span>
                                        <!-- <p><strong>100.00 $</strong></p> -->
                                        <a href="#" class="btn">
                                            <img class="mx-1" src="{% static '/deps/icons/cart-plus.svg'%}" alt="Catalog Icon"
                                                width="32" height="32">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Карта товара -->
                        <div class="col-lg-4 col-md-6 p-4">
                            <div class="card border-primary rounded custom-shadow">
                                <img src="{% static '/deps/images/goods/gow.jpg'%}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <a href="#">
                                        <p class="card-title">God of war</p>
                                    </a>
                                    <p class="card-text text-truncate">Чем занимается убийца богов в Скандинавии</p>
                                    <p class="product_id">id: 02245</p>
                                    <div class="d-flex justify-content-between">
                                        <p><s>1499</s> руб.</p>
                                        <p><strong>1299.00 руб.</strong></p>
                                        <span class="badge bg-warning text-dark">Скидка 10.00 %</span>
                                        <!-- <p><strong>100.00 $</strong></p> -->
                                        <a href="#" class="btn">
                                            <img class="mx-1" src="{% static '/deps/icons/cart-plus.svg'%}" alt="Catalog Icon"
                                                width="32" height="32">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Карта товара -->
                        <div class="col-lg-4 col-md-6 p-4">
                            <div class="card border-primary rounded custom-shadow">
                                <img src="{% static '/deps/images/goods/gow.jpg'%}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <a href="#">
                                        <p class="card-title">God of war</p>
                                    </a>
                                    <p class="card-text text-truncate">Чем занимается убийца богов в Скандинавии</p>
                                    <p class="product_id">id: 02245</p>
                                    <div class="d-flex justify-content-between">
                                        <p><s>1499</s> руб.</p>
                                        <p><strong>1299.00 руб.</strong></p>
                                        <span class="badge bg-warning text-dark">Скидка 10.00 %</span>
                                        <!-- <p><strong>100.00 $</strong></p> -->
                                        <a href="#" class="btn">
                                            <img class="mx-1" src="{% static '/deps/icons/cart-plus.svg'%}" alt="Catalog Icon"
                                                width="32" height="32">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>                        <!-- Карта товара -->
                    </div>
{% endblock %}


{% block footer %}
    <footer class="py-4 bg-success bg-opacity-75">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Gods Boss Product 2025</p>
        </div>
    </footer>
{% endblock %}







