{% extends 'main/base.html'%}
{% load static %}

<!-- {% static '/deps/images/diablo3.jpg'%}" -->

{% block css %}
    <link rel="stylesheet" href="{%static 'deps/css/my_footer_css.css' %} ">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/deps/favicon/apple-touch-icon.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/deps/favicon/favicon-32x32.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/deps/favicon/favicon-16x16.png'%}">
    <link rel="manifest" href="{% static '/deps/favicon/site.webmanifest'%}">
{% endblock %}


{% block content %}
    <br>
    <br>
    <br>
    <div class="container mt-5">
        <div class="card mb-4 custom-shadow">
            <div class="row">
                <!-- Миниатюры -->
                <div class="col-md-4">
                    <img src="{%static '/deps/images/goods/far_cry_3.jpg'%}"
                    
                        class="img-thumbnail" data-bs-toggle="modal" data-bs-target="#imageModal1">
                </div>
                <div class="col-md-4 ">
                    <p class="product_id mt-3">id: 002664</p>
                </div>
                <!-- Увеличить изображение в модальном окне -->
                <div class="modal fade" id="imageModal1" tabindex="-1"
                    aria-labelledby="imageModal1Label" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="imageModal1Label">Изображение 1</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Закрыть"></button>
                            </div>
                            <div class="modal-body">
                                <img src="{% static '/deps/images/goods/far_cry_3.jpg'%}"
                                    class="img-fluid" alt="Изображение 1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Описание товара -->
            <div class="card-body">
                <p class="card-text">Цена: <strong>1299.00 руб.</strong></p>
                <h5 class="card-title">Far cry 3</h5>
                <p class="card-text">Гуляем по острову.</p>
                <a href="#" class="btn btn-dark add-to-cart">Добавить в корзину</a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}

{% block footer %}
    <footer class="py-4 bg-success bg-opacity-75">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Gods Boss Product 2026</p>
        </div>
    </footer>
{% endblock %}








